.RequestName{
    margin:0;
}
.MainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 100%;
}
.inviting::after{
    content:"(inviting)";
    color: red;
}

.SentRequestContainer{
    display:flex;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    align-items: center;
    padding: 9px;
    width: 100%;
    margin:0;
    background: linear-gradient(to right, #ed9c56,#c8e785);
}
.CProfilePic{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin:0px 10px;
}
.ReceivedContainer{
    display: flex;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    align-items: center;
    justify-content: space-between;
    padding: 9px;
    width: 100%;
    margin: 0;
    background: linear-gradient(to right, #52a4d0,#89b36b);
}
.InfoContainer{
    display: flex;
    align-items: center;
}
.AcceptBtn{
    margin: 10px;
    background: rgb(08,181,254);
    color: white;
    padding: 11px;
    width: 102px;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    outline: none;
}
.DeclineBtn{
    margin: 10px;
    background: #a5a5a5;
    color: white;
    padding: 11px;
    width: 102px;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    outline: none;
}
@media only screen and (max-width:600px)
{
    .ProfilePic{
        width: 50px;
        height: 50px;
    }
    .RequestName{
        font-size: 19px;
    }
    .BtnsContainer{
        display: flex;
        width: max-content;
    }
    .AcceptBtn{
        width: 80px;
        margin: 5px;
    }
    .DeclineBtn{
        width: 80px;
        margin: 5px;
    }
    .RequestName{
        font-size: 19px;
        margin: 0;
    }
}

/*base code*/
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  .animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
  }
  /*the animation definition*/
  @-webkit-keyframes fadeInUp {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0)
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none
    }
  }
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      -ms-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0)
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none
    }
  }
  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp
  }
  